.mat-expansion-panel{
    margin: 2em;
}
.mat-form-field{
    margin: 0.1em;
}
.mat-form-field{
    padding-left: 5em;
}
::ng-deep .white-arrow > .mat-expansion-indicator:after {
    color: white;
  }
