<mat-card class="mat-elevation-z8" >
        <div *ngFor="let field of milestoneFields; let i = index;" fxLayout="row" fxLayoutAlign="start center">
                <p fxFlexOffset="5"fxFlex="10"> Field Name {{field}}</p>
                <mat-form-field fxFlex="60">
                    <input matInput placeholder="Main Milestone field {{field}}">
                </mat-form-field>
            </div>
</mat-card>
<div class="card-container">
<mat-card class="mat-elevation-z8">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <div *ngFor="let step of milestoneSteps;let index_i = index;" >
        <mat-step class="card-container" [stepControl]="firstFormGroup">
                <ng-template matStepLabel>Stage {{index_i + 1}}</ng-template>
                <mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
                                <mat-expansion-panel-header style="background-color: #283593;"  class="white-arrow">
                                        <mat-panel-title style="color:white;">Document Section</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let field of milestoneFields; let i = index;" fxLayout="row" fxLayoutAlign="start center">
                                        <p fxFlexOffset="5"fxFlex="20"> Document Template No {{field}}</p>
                                </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
                                <mat-expansion-panel-header style="background-color: #283593;"  class="white-arrow">
                                                <mat-panel-title style="color:white;">Submission Section</mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-table #table [dataSource]="dataSource" >
                                        
                                <ng-container matColumnDef="index">
                                <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
                                <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
                                </ng-container>
                        
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="submitAttachment">
                                <mat-header-cell *matHeaderCellDef> Revieve Attachment </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.submitAttachment}} </mat-cell>
                                </ng-container>
                        
                                <!-- Comment Column -->
                                <ng-container matColumnDef="receiveAttachment">
                                <mat-header-cell *matHeaderCellDef> Submit Attachment </mat-header-cell>
                                <mat-cell *matCellDef="let element" [satPopoverAnchorFor]="p" (click)="p.open()">
                                <ng-container *ngIf="element.receiveAttachment">
                                        {{element.receiveAttachment}}
                                </ng-container>
                                <span class="add-comment" *ngIf="!element.receiveAttachment">
                                                Submit a Attachment
                                </span>
                        
                                <sat-popover #p
                                        hasBackdrop
                                        xAlign="start"
                                        yAlign="start"
                                        (closed)="update(element, $event)">
                                        <inline-edit [value]="element.receiveAttachment"></inline-edit>
                                </sat-popover>
                                </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="remark">
                                                <mat-header-cell *matHeaderCellDef> Remark </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.remark}} </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>   
                <button (click)="addRow()" mat-flat-button color="primary"> Add Row</button>                        
                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
                                <mat-expansion-panel-header style="background-color: #283593;"  class="white-arrow">
                                        <mat-panel-title style="color:white;">General Notes</mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngFor="let field of milestoneFields; let i = index;" fxLayout="row" fxLayoutAlign="start center">
                                        <p fxFlexOffset="5"fxFlex="20">Comment No {{field}}</p>
                                </div>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true" class="mat-elevation-z8">
                                <mat-expansion-panel-header style="background-color: #283593;"  class="white-arrow">
                                        <mat-panel-title style="color:white;">Project Activity</mat-panel-title>
                                </mat-expansion-panel-header>
                                <p fxFlexOffset="5"fxFlex="20">Comming Soon</p>
                </mat-expansion-panel>

                <div>
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
        </mat-step>
        </div>
        </mat-horizontal-stepper>
        </mat-card>
</div>





